@page "/info/{id:int}"
@inject DataBaseContext DbContext
@inject PokemonImageGrabber ImageGrabber

<h3>Info</h3>
@if (pokemon is not null)
{
    <img src="@imageUrl" onerror="this.onerror=null;this.src='/img/notfound.png';" class="img-fluid img-thumbnail rounded-start" alt="@pokemon.Name" />


    <div class="col-md-8"></div>
    <div class="card mb-3"></div>
    <div class="card-body bg-light"></div>
                <h5 class="card-title">@pokemon.Name</h5>
   
 
    <p>
        <span class="badge rounded-pill bg-primary">@pokemon.Type</span>&nbsp;
        <span class="badge rounded-pill bg-success">Generation @pokemon.Generation</span>&nbsp;
        @if (pokemon.Legendary)
        {
            <span class="badge rounded-pill bg-warning">Legendary</span>
        }

    </p>
    
    <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-success" role="progressbar" style="width:@(pokemon.HP*100/255)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="255">HP</div>
               
    </div>
     
     <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: @(pokemon.Defence*100/255)%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="255">Defence</div>
                  
    </div>
       
            <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-warning" role="progressbar" style="width:@(pokemon.Attack*100/255)%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="255">Attack</div>
                        
    </div>
            <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: @(pokemon.Speed*100/255)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="255">Speed</div>
      
  
    </div>
      
        
    
    

}
else
{
    <p> No pokemon found for Id </p> 
    
}
@code {
    [Parameter]
    public int Id { get; set; }
    private string? imageUrl { get; set;}

    private Pokemon? pokemon;

    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
    }

    protected override void OnParametersSet()
    {
        imageUrl = PokemonImageGrabber.GetImageUrl(pokemon);
        base.OnParametersSet();
    }
}

